<%- include('layout/header') %>
<div class="container" id="accueil_area">
  <div class="row m-4 justify-content-around">
    <div class="card" style="width: 18rem">
      <h5 class="card-title m-3">Tableau de bord</h5>
      <img
        src="https://th.bing.com/th/id/R.463eb0fbfc5b362fe650444fea0dea2f?rik=IUSotV3PYID%2frg&pid=ImgRaw&r=0"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary" id="btnAccueil"
          >Aller vers la page</a
        >
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <h5 class="card-title m-3">Développeurs</h5>
      <img
        src="https://th.bing.com/th/id/OIP.VgYe1w4Gu6GTUSJTaDxDKAHaFO?pid=ImgDet&rs=1"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary">Aller vers la page</a>
      </div>
    </div>
  </div>
  <div class="row m-3 justify-content-around">
    <div class="card" style="width: 18rem">
      <h5 class="card-title m-3">Utilisateurs</h5>
      <img
        src="https://th.bing.com/th/id/OIP.6NjDbPrRpfOjVu7P9IlhCgHaE6?pid=ImgDet&rs=1"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary">Aller vers la page</a>
      </div>
    </div>
    <div class="card" style="width: 18rem">
      <h5 class="card-title m-3">Qui sommes nous ?</h5>
      <img
        src="https://smarktic.com/wp-content/uploads/2016/08/media_bg-Slide-1.jpg"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary">Aller vers la page</a>
      </div>
    </div>
  </div>
</div>

<%- include('layout/footer') %>
