<%- include('layout/header') %>
<div class="container" id="accueil_area" >
  <div class="row justify-content-around" style="max-width: 70rem" >
    <div class="card m-3" style="width: 18rem">
      <h5 class="card-title m-3">Tableau de bord</h5>
      <img
        src="https://th.bing.com/th/id/R.463eb0fbfc5b362fe650444fea0dea2f?rik=IUSotV3PYID%2frg&pid=ImgRaw&r=0"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/chartTest" class="btn btn-primary" id="btnAccueil"
          >Aller vers la page</a
        >
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <h5 class="card-title m-3">Développeurs</h5>
      <img
        src="https://th.bing.com/th/id/OIP.VgYe1w4Gu6GTUSJTaDxDKAHaFO?pid=ImgDet&rs=1"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary">Aller vers la page</a>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <h5 class="card-title m-3">Utilisateurs</h5>
      <img
        src="https://th.bing.com/th/id/OIP.6NjDbPrRpfOjVu7P9IlhCgHaE6?pid=ImgDet&rs=1"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/getlistUsers" class="btn btn-primary">Aller vers la page</a>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <h5 class="card-title m-3">Scénarii Jeux</h5>
      <img
        src="https://steveaxentios.ch/cms/wp-content/uploads/2018/04/comment-ecrire-un-scenario-pour-une-video.jpg"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary">Aller vers la page</a>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <h5 class="card-title m-3">Analyse IA</h5>
      <img
        src="https://f.hubspotusercontent20.net/hubfs/2205679/9.jpg"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary">Aller vers la page</a>
      </div>
    </div>
    <div class="card m-3" style="width: 18rem">
      <h5 class="card-title m-3">Qui sommes nous ?</h5>
      <img
        src="https://smarktic.com/wp-content/uploads/2016/08/media_bg-Slide-1.jpg"
        class="card-img-top"
        alt="..." />
      <div class="card-body">
        <p class="card-text"></p>
        <a href="/" class="btn btn-primary">Aller vers la page</a>
      </div>
    </div>
  </div>

  <!-- <div class="row m-3 justify-content-around">
    
  </div> -->
</div>

  <%- include('layout/footer') %>
</div>
